{{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
{#
        {{ form_row(registrationForm.agreeTerms) }}
#}

<button class="btn btn-lg btn-primary mt-3 text-center">{{ button_label|default('S\'inscire') }}</button>
{{ form_end(registrationForm) }}
