{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1 class="mt-0 text-center">
            <a href="{{ path('program_show', {'slug': episode.season.program.slug}) }}">{{ episode.season.program.title |title }}</a><br>

            <a href="{{ path('season_show', {'programSlug': episode.season.program.slug, 'number': episode.season.number}) }}">Saison n° {{ episode.season.number }}</a>
            <br>
            épisode n°{{ episode.number }} {{ episode.title | title }}</h1>
        <div class="media media-bg">
            <img class="align-self-center mr-3"
                 src="{{ episode.season.program.poster?: asset('images/program/placeholder_program.jpg') }}"
                 alt="{{ episode.season.program.title }} poster">
            <div class="media-body pr-3">
                <h2> Synopsis : </h2>
                <p>{{ episode.synopsis ?: 'Pas de resumé pour cet épisode l\'instant' }}</p>
                <h2> Avis :
                    {% if app.user and not userHasCommentEpisode %}
                        <a href="{{ path('comment_new', {'programSlug': episode.season.program.slug, 'seasonNumber': episode.season.number, 'episodeNumber': episode.number}) }}" class="btn btn-primary active float-right" role="button"
                           aria-pressed="true"><i
                                    class="far fa-comment-dots"></i></a>
                    {% endif %}
                </h2>
                {% for comment in episode.comments %}
                    {% if comment.author == app.user %}
                            {% include 'comment/_show.html.twig' with {'comment': comment } %}
                    {% else %}
                            {% include 'comment/_show.html.twig' with {'comment': comment } %}
                    {% endif %}
                {% else %}
                    Pas de commentaire pour l'instant.
                {% endfor %}
                <div>
                    <span class="float-right">dernière maj: {{ episode.updatedAt | date('d/m/Y') }}</span></div>
            </div>
        </div>
    </div>
{% endblock %}
