{{ form_start(form) }}

    {{ form_row(form.title, {'label': 'title'|trans|title}) }}
    {{ form_row(form.synopsis, {'label': 'synopsis'|trans|title}) }}
    {{ form_row(form.year, {'label': 'year'|trans|title}) }}
    {{ form_row(form.country, {'label': 'country'|trans|title}) }}
    {{ form_row(form.category, {'label': 'category'|trans|title}) }}
    {{ form_row(form.posterFile, {'label': 'image'|trans|title}) }}

    {{ form_rest(form) }}

    <button class="btn btn-primary">{{ button_label|default('save')}}</button>

{{ form_end(form) }}
