{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.program'|trans }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="flex-grow-1">
                <h1 class="text-center ">{{ 'edit.program'|trans|capitalize }}</h1>
            </div>
            <div class="row d-flex align-items-center justify-content-end">
                <a class='btn btn-primary m-1'
                   href="{{ path('program_show', {'slug': program.slug}) }}">{{ 'back'|trans }}</a>
                {{ include('program/_delete_form.html.twig') }}
            </div>
        </div>
        {{ include('program/_form.html.twig', {'button_label': 'Update'|trans|capitalize}) }}
    </div>
{% endblock %}
