{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block main %}
    <h1 class="text-center">{% if categoryName is defined %} {{ categoryName | title }} catégorie {% else %} Séries {% endif %}</h1>
    <div class="container-fluid">

        <div class="card-deck">
            {% for programInfos in programs %}

                <div class="card bg-card">
                    <img class="card-img-top" alt="img {{ programInfos.program.title }}"
                         src="{{ programInfos.program.poster? vich_uploader_asset(programInfos.program, programInfos.program.posterFile) : asset('build/images/program/placeholder_program.jpg') }}">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                    href="{{ path('program_show', {'slug': programInfos.program.slug}) }}">{{ programInfos.program.title }}</a>
                        </h5>
                        <p class="card-text">{{ programInfos.program.synopsis }}.</p>
                    </div>
                    <div class="card-footer">
                        <span class="badge badge-pill badge-primary">{{ programInfos.nbSeasons}} saisons</span>
                        <span class="badge badge-pill badge-primary">{{ programInfos.nbEpisodes }} episodes</span>
                        <span class="badge badge-pill badge-primary">{{ programInfos.nbActors | length }} acteurs</span>
                        <small class="text-muted float-right">maj: {{ programInfos.program.updatedAt | date("d/m/Y") }}</small>
                    </div>
                </div>
                <!-- Use modulo to add divs to handle break points -->
                {% set sm = loop.index % 1 %}
                {% set md = loop.index % 2 %}
                {% set lg = loop.index % 2 %}
                {% set xl = loop.index % 3 %}

                {% if sm == 0 %}
                    <div class="w-100 d-none d-sm-block d-md-none mt-4"></div>
                {% endif %}

                {% if md == 0 %}
                    <div class="w-100 d-none d-md-block d-lg-none mt-4"></div>
                {% endif %}

                {% if lg == 0 %}
                    <div class="w-100 d-none d-lg-block d-xl-none mt-4"></div>
                {% endif %}

                {% if xl == 0 %}
                    <div class="w-100 d-none d-xl-block mt-4"></div>
                {% endif %}

            {% else %}
                Desolé pas de série pour l'instant.
            {% endfor %}
        </div>
    </div>
{% endblock %}
