{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block main %}
    <div class="container-fluid">
    <h1 class="mt-0 text-center">{{ program.title }}</h1>
    <div class="media media-bg">
       <img class="align-self-center mr-3" src="{{ program.poster? vich_uploader_asset(program, program.posterFile)
        : asset('build/images/program/placeholder_program.jpg')  }}" alt="{{ program.title }} poster">
        <div class="media-body pr-3">
            <h2> Synopsis : </h2>
            <p>{{ program.synopsis }}</p>
            <h2> Saisons : </h2>
            {% for season in program.seasons %}
                <div>
                    <h3><a href="{{ path('season_show', {programSlug: program.slug, number: season.number}) }}">Saison n°{{ season.number }}</a>
                        <span class="text-muted small">({{ season.episodes | length }} épisodes{{ season.year? ' - ' ~ season.year: ''}})</span>
                        </h3>
                    <p>{{ season.description?: 'pas de description pour l\'instant' }}</p>
                </div>
            {% else %}
                Pas de saison pour l'instant.
            {% endfor %}
            <h2> Acteurs : </h2>
            {% for actor in program.actors %}
                    <a href="{{ path('actor_show', {slug: actor.slug}) }}">{{ actor.displayName }}</a>{{ loop.last ? '.' : ',' }}

            {% else %}
                Aucun acteur trouvé.
            {% endfor %}
            <p>Catégorie : <a href="{{ path('program_by_category', {categorySlug: program.category.slug}) }}">{{ program.category.name }}</a> <span class="float-right">dernière maj:{{ program.updatedAt | date('d/m/Y') }}</span></p>
        </div>
    </div>
    </div>
{% endblock %}
