{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block main %}
    <h1 class="text-center">Acteurs</h1>
    <div class="container-fluid">
        <div class="card-deck">
            {% for actor in actors %}
                <div class="card bg-card">
                    <img class="card-img-top" alt="img {{ actor.displayName }}"
                         src="{{ actor.poster?: asset('build/images/actor/placeholder_actor.png') }}">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                    href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.displayName }}</a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted float-right">maj: {{ actor.updatedAt | date("d/m/Y") }}</small>
                    </div>
                </div>
                <!-- Use modulo to add divs to handle break points -->
                {% set sm = loop.index % 1 %}
                {% set md = loop.index % 2 %}
                {% set lg = loop.index % 2 %}
                {% set xl = loop.index % 3 %}

                {% if sm == 0 %}
                    <div class="w-100 d-none d-sm-block d-md-none mt-4"></div>
                {% endif %}

                {% if md == 0 %}
                    <div class="w-100 d-none d-md-block d-lg-none mt-4"></div>
                {% endif %}

                {% if lg == 0 %}
                    <div class="w-100 d-none d-lg-block d-xl-none mt-4"></div>
                {% endif %}

                {% if xl == 0 %}
                    <div class="w-100 d-none d-xl-block mt-4"></div>
                {% endif %}

            {% else %}
                Desolé pas d'acteur pour l'instant.
            {% endfor %}
        </div>
    </div>
{% endblock %}
