<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('index') }}">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ path('category_index') }}" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'categories'|trans }}
                </a>
                <div class="dropdown-menu">
                    {{ render(path('category_navbar')) }}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('actor_index') }}">{{ 'actors'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'favorite'|trans }}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ 'language'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown09">
                    {% include '_locale_switcher.html.twig' %}
                </div>
            </li>
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('category_index') }}" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.email }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="{{ path('user_show', {'id': app.user.id}) }}"><span
                                    class="far fa-user"> {{ 'account'|trans }}</span></a>
                        <a class="nav-link" href="{{ path('app_logout') }}"><span
                                    class="fas fa-sign-out-alt"></span> {{ 'account.logout'|trans }}</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">{{ 'account.register'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">{{ 'account.login'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
